* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* making all containers to be flexbox */

.header,
.nav-list,
.more-articles,
.paragraph,
.fData,
.big-img {
    display: flex;
}

.paragraph {
    flex-direction: column;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 0;
}

.body {
    padding-left: 10px;
    margin: 0 1rem 0 auto;
}

.nav-list {
    list-style-type: none;
}


/* the header is th container for the nav */

.header {
    justify-content: center;
    align-items: center;
    padding: 0 1.3rem 0 1.3rem;
    box-shadow: 0 0 5px gray;
    height: 45px;
    margin-bottom: 5rem;
}

.svg1 {
    height: 2rem;
    margin-left: auto;
}

.svg2 {
    height: 3rem;
}

.main-img {
    height: 25%;
    margin-top: 3rem;
}

.container-main {
    padding: 0 20px 0 20px;
    margin-left: auto;
    text-align: left;
}

.big-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    background-color: aqua;
    margin: 0 auto;
}

.svg {
    height: 2rem;
    display: block;
}

.main-img {
    height: 25%;
}

.container-main {
    margin-left: 5%;
}


/*  More Articles Menu  */

.art-box {
    display: inline-block;
    width: 250px;
}

.art-img {
    width: 250px;
}

.after-img {
    font-size: 12px;
}

.light-text {
    margin: 5px 0;
    padding: 2px;
    font-size: 11px;
}

.art-link {
    margin: 5px 0;
}


/* Most popular Menu */

.most-popular {
    width: 300px;
}

.most-popular-link {
    width: 300px;
    display: inline-block;
    padding: 20px 0;
    border-top: 1px solid #000;
    font-size: 20px;
    text-decoration: none;
}


/* Editor Picks menu */

.editors-picks {
    width: 760px;
}


/* Footer */

.data-div {
    display: flex;
    justify-content: space-around;
}

.footer-data a {
    display: block;
    text-decoration: none;
    color: black;
}

.last-list-border {
    border-left: 1px solid black;
    padding-left: 30px;
}

.bold {
    font-weight: bold;
}

.sub-hr {
    display: block;
    width: 100%;
}

.end-link {
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

.footer-data {
    display: inline-block;
}

.subscribe,
.login {
    padding: 8px 6px;
    background-color: #718096;
    margin: 5px;
    border-radius: 0.4rem;
    font-size: 12px;
    color: white;
}


/* aligning the subscribe & login nav */

.nav {
    margin-left: auto;
}

.fData {
    justify-content: space-around;
}

.mainImg-para {
    margin: 0 auto 0 auto;
}